body {
    background: linear-gradient(90deg, #202639 0%, #3F4C77 100%);
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.log{
    border-radius: 105px;
    border: 1px solid #000;
    width: 59px;
    height: 62px;
}

a{
    text-decoration: none;
    color: #1c1e53;
    transition: color 0.3s ease;
}

a:hover{
    color: #F49636;
}

h5{
    font-size: 20px;
}

li{
    list-style: none;
}

span{
    color:#F49636;
}

nav{
    background-color: #D8E7CA;
    position: sticky;
    top: 0;
    padding: 0 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 80px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    height: 50px;
    flex-shrink: 0;
}

nav .logo,
footer .logo{
    display: flex;
    align-items: center;
}

nav .logo a,
footer .logo a{
    margin-left: 8px;
    font-weight: bold;
    font-size: 20px;
}

nav .logo img,
footer .logo img{
    width: 40px;
    height: 40px;
}

nav ul,
footer .top ul{
    display: flex;
    gap: 40px;
}

nav button{
    color: #534d1c;
    background-color: transparent;
    padding: 12px 16px;
    border-radius: 5px;
    border: 1px solid #1c1e53;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav button:hover{
    background-color: #F49636;
    border-color: #F49636;
    color: #fff;
}

nav button#menuButton{
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 7px;
}

nav .logo,
footer .logo{
    display: flex;
    align-items: center;
}

nav .logo a,
footer .logo a{
    margin-left: 8px;
    font-weight: bold;
    font-size: 20px;
}

nav .logo img,
footer .logo img{
    width: 40px;
    height: 40px;
}

nav ul,
footer .top ul{
    display: flex;
    gap: 40px;
}

nav button{
    color: #534d1c;
    background-color: transparent;
    padding: 12px 16px;
    border-radius: 5px;
    border: 1px solid #1c1e53;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav button:hover{
    background-color: #F49636;
    border-color: #F49636;
    color: #fff;
}

nav button#menuButton{
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 7px;
}

.scamlist{
    color: #FFF;
    font-family: Abyssinica SIL;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main{
    padding: 90px 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.main .left{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.main .left h1{
    margin-top: 10px;
    font-weight: bold;
    font-size: 56px;
    color: #D8E7CA;
    stroke: 1px, black;
}

.main .texts{
    color: #FFF;
    font-family: Abhaya Libre;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main .left h4{
    margin-top: 10px;
    font-weight: bold;
    font-size: 46px;
    color: white;
}

.main .left h4 span{
    color: #ffffff;
}

.main .left p {
    color: #ffffff;
    font-size: 22px;
    margin-top: 20px;
    -webkit-text-stroke: 0.px rgb(0, 0, 0); 
}

.but {
    color: #FFF;
    text-align: center;
    font-family: Abhaya Libre ExtraBold;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.main .left button{
    margin-top: 40px;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(0deg, #000 0%, #000 100%), #D9D9D9;
    padding: 14px 24px;
    border: 1px solid transparent;
    border-radius: 13px;
}

.main .right img{
    width: 274px;
    height: 288px;
    flex-shrink: 0;
    border-radius: 41px;
    border: 1px solid #000;
}
/* ari ra kutob */

.search-box {
    width: 350px;
    position: relative;
    display: flex;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
  }
  
  #searchInput {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 15px 45px 15px 15px;
    background-color: #eaeaeb;
    color: #6c6c6c;
    border-radius: 6px;
    border:none;
    transition: all .4s;
  }
  
  #searchInput:focus {
    border:none;
    outline:none;
    box-shadow: 0 1px 12px #b8c6db;
    -moz-box-shadow: 0 1px 12px #b8c6db;
    -webkit-box-shadow: 0 1px 12px #b8c6db;
  }
  
  #searchButton {
    background-color: transparent;
    font-size: 18px;
    padding: 6px 9px;
    margin-left:-45px;
    border:none;
    color: #6c6c6c;
    transition: all .4s;
    z-index: 10;
  }
  
  #searchButton:hover {
    transform: scale(1.2);
    cursor: pointer;
    color: #F49636;
  }
  
  #searchButton:focus {
    outline:none;
    color:black;
  }
  
/* ari ra kutob search */


.entry-container {
    display: flex;
    margin: 20px;
    color: #ffffff;
    background-color: #61677A;
    border-radius:25px ;
    border: solid 3px #ffffff;
    padding: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
    transform-origin: center center;
}

.entry-container:hover {
    transform: scale(1.05); /* Increase the scale on hover */
}

.image-container {
    width: 70%;
    margin-right: 10px;
    overflow: hidden;
}

img {
    border-radius: 25px;
    max-width: 100%;
    height: 100px;
    transition: transform 0.3s ease;
}

.entry-container:hover img {
    transform: scale(1.05); /* Zoom in on hover for the image */
}

.text-container {
    width: 100%;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

hr {
    margin: 10px 0;
    border: 1px solid #ccc;
}

/* Add this to your existing CSS code */
.no-results-message {
    color: #FF0000; /* Set the text color to red (you can choose your preferred color) */
    font-size: 32px; /* Set the font size */
    font-weight: bold; /* Set the font weight to bold */
    margin-top: 20px; /* Add some top margin */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Set the height to 100% of the viewport height */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#result{
    width: 100%;
    margin: 50px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1200px;
    gap: 40px;
}
#reult img{
    width: 50%;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

 /* i'll look after you it's half and never whole */ 

 
 /* if i could fall into the sky */

 @media screen and (max-width: 992px) {
    
    .entry-container {
        display: block;
        margin: 20px;
        color: #ffffff;
        background-color: #61677A;
        border-radius:25px ;
        border: solid 3px #ffffff;
        padding: 10px;
    }
    nav button{
        display: none;
    }

    nav ul{
        gap: 20px;
    }

    nav ul li a{
        font-size: 15px;
    }
 }

 @media screen and (max-width: 768px) {
    .entry-container {
        display: block;
        margin: 20px;
        color: #ffffff;
        background-color: #61677A;
        border-radius:25px ;
        border: solid 3px #ffffff;
        padding: 10px;
    }

    nav{
        justify-content: space-between;
        padding: 0 42px;
    }

    nav ul{
        display: none;
    }

    nav.open .logo{
        display: none;
    }

    nav.open ul{
        display: flex;
    }

    nav button#menuButton{
        display: flex;
    }
 }

 @media screen and (max-width: 576px) {
    
    .entry-container {
        display: block;
        margin: 20px;
        color: #ffffff;
        background-color: #61677A;
        border-radius:25px ;
        border: solid 3px #ffffff;
        padding: 10px;
    }

    nav ul li a{
        font-size: 13px;
    }

    nav .logo a{
        font-size: 18px;
    }
}
